.notFound__grid {
	display: grid;
	position: relative;
	grid-template-rows: 1fr 2fr;
	grid-template-areas:
		"A"
		"B";
	gap: var(--m24);
	align-items: center;
	justify-items: center;
	text-align: center;
	padding: var(--m36) var(--m12);
}

.notFound__image {
	grid-area: A;
	width: 100%;
}

.notFound__bot {
	grid-area: B;
}

.notFound__image img {
	right: 20px;
}