.mobile__wrapp {
	display: none;
	margin: auto;
	position: absolute;
	z-index: 10;
}

.mobile__wrapp.isActive {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 40px;
	width: 90vw;
	padding-top: 15px;
	border-top: 2px solid var(--purple);
} 

.mobile__phone {
	display: block;
	margin-bottom: 10px;
}