.about {
	width: 100%;

	&__container {
		max-width: 1140px;
		padding: 0 40px;
		padding-top: var(--m108);
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	.about__container {
		padding: 0 15px;
	}

}