.main-banner__wrapper {
	height: 800px;
	margin-bottom: var(--m108);
	/* background-image: url(../img/main-banner.jpg); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 140px;
}

.main-banner .section-title__border {
	display: none;
}

.main-banner--text {
	color: var(--white-color);
	font-family: "DM Sans", sans-serif;
}

.mainStore {
	font-size: 50px;
	font-family: "DM Sans", sans-serif;
	--hue: 0;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: hsl(var(--hue), 50%, 95%);
	text-shadow:
		0 0 15px hsl(var(--hue), 60%, 90%, .80),
		0 0 20px hsl(var(--hue), 70%, 80%, .85),
		0 0 40px hsl(var(--hue), 80%, 70%, .90),
		0 0 60px hsl(var(--hue), 90%, 60%, .95),
		0 0 80px hsl(var(--hue), 100%, 50%, 1)
}

.main-banner__title {
	font-size: var(--font-size-42);
	font-weight: var(--font-weight-700);
	padding-top: calc(2 * var(--m108));
	line-height: 130%;
	margin: 0;
}

.main-banner__place {
	font-size: var(--font-size-22);
	font-weight: var(--font-weight-500);
	padding-top: 24px;
	line-height: 130%;
	margin: 0;
}

.main-banner__slogan {
	float: right;
	padding-top: 180px;
	font-size: 54px;
	font-weight: var(--font-weight-600);
	color: var(--white-color);
	letter-spacing: 0.03em;
	line-height: 130%;
	margin: 0;
}

/* Media */

@media screen and (max-width: 1280px) {
	.main-banner__title {
		padding-top: 200px;
	}
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1140px) {
	.main-banner__slogan {
		padding-top: 150px;
	}

}

@media screen and (max-width: 890px) {}

@media screen and (max-width: 768px) {
	.main-banner__title {
		font-size: 36px;
		padding-top: var(--m108);
	}

	.main-banner__slogan {
		font-size: var(--font-size-32);
		padding-top: 250px;
	}
}

@media screen and (max-width: 515px) {
	.main-banner__title {
		font-size: 28px;
		padding-left: 0;
	}

	.main-banner__place {
		font-size: 16px;
	}

	.main-banner__slogan {
		font-size: 28px;
		margin-top: 80px;
	}
}

@media screen and (max-width: 480px) {

	.main-banner__wrapper {
		margin-bottom: var(--m60);
	}
}