@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
	/* Colors */
	--blackpure: rgb(0, 0, 0);
	--black: #171718;
	--black-border: #26292d;
	--white: #fff;
	--purple: #5c62ec;
	--lite: #a0a7b4;

	/* Nav */
	--nav-bg: var(--black);
	--nav-border: var(--black-border);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	--m108: 108px;
	--m96: 96px;
	--m72: 72px;
	--m60: 60px;
	--m48: 48px;
	--m36: 36px;
	--m24: 24px;
	--m12: 12px;

	/* bold */
	--font-weight-700: 700;
	/* semibold */
	--font-weight-600: 600;
	/* medium */
	--font-weight-500: 500;
	/* regular */
	--font-weight-400: 400;
	/* light */
	--font-weight-300: 300;

	--font-size-42: 42px;
	--font-size-32: 32px;
	--font-size-22: 22px;
	--font-size-18: 18px;
	--font-size-16: 16px;

	/* Light mode */
	--mobile-bg: var(--lite);
	--page-bg: var(--lite);
	--text-color: var(--black);
	--accent: var(--purple);
	--section-title: var(--purple);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
	/* Dark mode */
	--mobile-bg: #252526;
	--page-bg: #252526;
	--text-color: var(--white);
	--section-title: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
	min-height: 100vh;
	box-sizing: border-box;

	font-family: "DM Sans", sans-serif;
	letter-spacing: -0.5px;

	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
}

#root {
	min-height: 100vh;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1140px;
	margin: auto;
}

section:first-child {
	padding-top: 80px;
}

section {
	padding-bottom: 50px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid {
	display: grid;
}

/* .overflow-hidden {
	overflow: hidden;
} */

/* General */

/* .container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
} */

/* Btn */

/* .btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: var(--accent);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
} */

/* .btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
} */

/* Btn outline */

/* .btn-outline {
	display: flex;
	column-gap: 10px;
	align-items: center;

	height: 48px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;

	transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
	opacity: 0.8;
}

.btn-outline:active {
	position: relative;
	top: 1px;
} */

/* Content list */

/* .content-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
}

.content-list a {
	color: var(--accent);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
}

.content-list__item p + p {
	margin-top: 0.5em;
} */

/* @media (max-width: 1200px) {
	.container {
		max-width: 900px;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 700px;
	}
}

@media (max-width: 800px) {
	.container {
		max-width: 500px;
	}
}

@media (max-width: 600px) {
	.container {
		max-width: 400px;
	}
} */

/* @media (max-width: 660px) {
	.container {
		max-width: 700px;
	} */

/* .header {
		min-height: unset;
	}

	.header__title {
		font-size: 30px;
	}

	.nav-row {
		justify-content: space-between;
	}

	.dark-mode-btn {
		order: 0;
	} */
/* } */