.galary {
	margin: 0 auto;

	&__container {
		max-width: 90vw;
	}

	&__slider,
	&__photo {
		margin-top: var(--m108);
	}

	&__plit {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 8px;
	}
}





/* Adaptive */

@media screen and (max-width: 1480px) {


	// .galary__container {
	// 	max-width: 100%;
	// }

	/* h1,
	h2 {
		margin-left: 20px;
	} */

	.galaryGrid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 48px;
	}
}

@media screen and (max-width: 1024px) {
	/* .galary__reviews-flex {
		padding: 20px;
	}

	.galary__reviews-item {
		flex-basis: 30%;
	} */
}

@media screen and (max-width: 768px) {
	/* .slider {
		max-width: 90%;
	} */

	/* 
	.galary__reviews-item {
		flex-basis: 35%;
	}

	.galary__reviews-item:hover {
		position: relative;
		transform: none;
		transition: none;
		background: rgba(42, 47, 55, 0, 9);
		z-index: 0;
	} */

	// .brendGrid__item {
	// 	width: 100%;
	// }

	// .brend__pic {
	// 	width: 100%;
	// }

	// img {
	// 	display: block;
	// }
}

@media screen and (max-width: 630px) {}

@media screen and (max-width: 480px) {
	// .galary__title {
	// 	font-size: 32px;
	// }
}

@media screen and (max-width: 375px) {
	// main {
	// 	padding-top: 80px;
	// }
}