.btn {
	padding: 15px 30px;
	font-style: normal;
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-16);
	line-height: var(--line-height-130);
	color: var(--white-color);
	border: 1px solid #5c82ce;
	border-radius: 8px;
	cursor: pointer;
	
}