.btn {
	padding: 15px 30px;
	font-style: normal;
	font-weight: var(--font-weight-500);
	font-size: var(--font-size-18);
	line-height: var(--line-height-130);
	color: var(--text-color);
	border: 1px solid #5c82ce;
	border-radius: 8px;
	cursor: pointer;

	a {
		position: relative;
		color: var(--text-color);

	}

	&:hover {
		opacity: 0.8;
		background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #5c62ec 0%, #8732b2 43.75%, #ba19c0 100%);
		transition: all 1s ease-in;
	}

}