.profit {
	width: 200px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	text-align: center;

	&__image {
		margin-bottom: 20px;
	}

	&__title {
		flex: 1 1 auto;
		font-size: var(--m18);
		font-weight: var(--font-weight-300);
		margin-bottom: 20px;
	}
}