 	.banner {
 		width: 100%;
 	}

 	/*  brend  */

 	.brend {
 		margin-bottom: var(--m108);
 		background-color: var(--medium-grey-color);
 	}

 	.brend__title {
 		padding-top: var(--m48);
 		color: var(--light-grey-color);
 	}

 	.brendGrid {
 		display: grid;
 		grid-template-columns: repeat(4, 1fr);
 		grid-template-rows: repeat(2, 1fr);
 		gap: var(--m36);
 		align-items: center;
 		justify-items: center;
 		padding-bottom: 24px;
 		z-index: -1;
 	}

 	.postList {
 		display: grid;
 		gap: 20px;
 	}

 	@media screen and (max-width: 890px) {}

 	@media screen and (max-width: 768px) {
 		.brend-grid__item {
 			width: 100%;
 		}

 		.brend__pic {
 			width: 100%;
 		}

 		img {
 			display: block;
 		}
 	}

 	@media screen and (max-width: 515px) {
 		.brend-grid {
 			grid-template-columns: repeat(1, 1fr);
 		}

 		.brend-grid__item {
 			width: 100%;
 		}

 		.brend__pic {
 			width: 100%;
 		}
 	}

 	@media screen and (max-width: 480px) {

 		.brend {
 			margin-bottom: var(--m60);
 		}
 	}