 	.catalog {
 		margin: 0 auto;

 		&__banner {
 			max-width: 99vw;
 			margin: 0 -5px;
 			margin-top: 86px;
 		}

 		&__container {
 			width: 90vw;
 			margin: 0 auto;
 		}
 	}



 	/*  brend  */

 	.brend {
 		background-color: var(--medium-grey-color);
 	}

 	.brend__title {
 		padding-top: var(--m48);
 		color: var(--light-grey-color);
 	}

 	.brendGrid {
 		display: grid;
 		grid-template-columns: repeat(4, 1fr);
 		grid-template-rows: repeat(2, 1fr);
 		gap: var(--m36);
 		align-items: center;
 		justify-items: center;
 		padding-bottom: 24px;
 		z-index: -1;
 	}

 	@media screen and (max-width: 1024px) {}

 	@media screen and (max-width: 890px) {
 		.brendGrid {
 			grid-template-columns: repeat(2, 1fr);
 			grid-template-rows: repeat(4, 1fr);
 			gap: 48px;

 			img {
 				width: 300px;
 			}
 		}
 	}

 	@media screen and (max-width: 768px) {}

 	@media screen and (max-width: 515px) {}

 	@media screen and (max-width: 480px) {
 		.brendGrid {
 			img {
 				width: 200px;
 			}
 		}

 	}