.aboutStore {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 15px;

	&__img {
		position: relative;
		width: 100%;
		min-height: 400px;
		
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description {
	}

	&__title {
		margin-bottom: 30px;
		color: var(--purple);
		font-size: var(--font-size-32);
		font-weight: var(--font-weight-700);
	}

	&__text {
		font-size: var(--font-size-12);
		font-weight: var(--font-weight-300);
		line-height: 1.3;
	}
}

@media (max-width: 1140px) {
	.aboutStore {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 500px) {
	.aboutStore {
		img{

		}
	}
}