.product {
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	margin: auto auto;
	margin-top: 108px;
	margin-bottom: 108px;

	&__container {
		max-width: 1024px;
		margin-top: 108px;
		margin-bottom: 108px;
		display: flex;
		gap: 40px;
		margin: auto auto;
		box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3), 0 10px 15px 5px rgba(0, 0, 0, 0.3);
		border-radius: 8px;
	}

	&__image {
		display: flex;
		align-items: center;
		position: relative;
		padding: 20px;
		min-width: 350px;


		img {
			top: 50%;
			height: 100%;
			border-radius: 8px;
			max-height: 350px;
		}
	}

	&__product {
		display: grid;
		grid-template-columns: auto;
		max-width: 600px;
		padding: 15px;
	}

	&__title {
		position: relative;
		height: 60px;
		overflow: hidden;
		font-size: var(--m24);
	}

	&__rating {
		margin-top: 15px;
	}

	&__description {
		padding-top: 15px;
	}

	&__price {
		font-size: var(--m18);
		padding: 10px;

		span {
			color: var(--purple);
			font-size: var(--m24);
			font-weight: var(--font-weight-500);
		}
	}

	&__button {
		display: flex;
		gap: 20px;
	}

	&__spinner {
		margin: auto auto;
	}

}

@media screen and (max-width: 850px) {
	.product {
		&__container {
			max-width: 500px;
			flex-direction: column;
		}
		
		img {
			max-height: 550px;
		}
	}
}

@media screen and (max-width: 450px) {
	.product {
		&__container {
			font-size: var(--m12);
			max-width: 300px;
		}
		&__image {
			min-width: 250px;
	}
	button {
		font-size: 14px;
		padding: 10px 20px;
	}
}
}

@media screen and (max-width: 390px) {
	.product {
		padding-left: 15px;
		padding-right: 15px;
		&__container {
			font-size: var(--m12);
			max-width: 270px;
		}
		&__image {
			min-width: 190px;
	}
}
}